html
  head
    title All Users
  body
    h1 All Users
    table
      thead
        tr
          th User ID
          th User Name
      tbody
        each user in users
          tr
            td #{users.user_ID}
            td #{users.user_name}