extends layout

block content
  h1(style="color: white;")  Match Users by City
  body(style="background-color: #48D1CC;")
  a(href="homepage")(style="color: white;")  Home
  p(style="color: white;")  Find Runners Near you 
  form(action="/match-user" method="post")
    label(for="user_city")(style="color: white;")  City:
    select(name="user_city")
      each city in cities
        option(value=city.user_city)= city.user_city
    button(type="submit") Submit
